# Increase stack size to not make it crash
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240

# Set target to ESP32-C3
CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y

# Disable interrupt watchdog for second loop
CONFIG_ESP_INT_WDT=n

# Algorithm to measure
CONFIG_MEASURE_ALGORITHM="ed25519"
